body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

*{
    box-sizing: border-box;
}


.light {
	background-color: #025751;
}

.dark {
	background-color: #031d31;
}

.header{
	display: flex;
	width: 100vw;
	z-index: 3;
	top: 0px;
	font-family: 'Times New Roman', Times, serif;
	height: 52px;
}

.header div{
	display: inline-flex;
	padding: 2px 15px 2px 15px;
}


.header .right{
	padding: 0px;
	margin-left: calc(100% - 570px);
	color: grey;
}
.header .right div:last-child{
	padding-right: 0px;
}
.header .right div:hover{
	color: black;
	cursor: pointer;
}
.logoo{
	width: 45px;
}
.logo{
	height: 50px;
}
.logoo, .name{
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.header .right .bar{
	display: none;
}

@media (max-width: 600px) {
	.header .right .nth{
		display: none;
	}
	.header .right .bar{
		display: block;
	}
	.header .right{
		margin-left: calc(100% - 350px);
	}
}

.head-pic{
	margin-top: 0px;
	height: 100vh;
	background-color: black;
	background-image: url('../images/ak.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	top: 0px;
	text-align: center;
	overflow: hidden;
}
.head-pic:hover{
	height: 100vh;
}
.me {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	color: pink;
	filter: brightness(70%);
	padding: 20px;
	cursor: all-scroll;
	background-color: rgba(128, 128, 128, 0.125);
}
.header .name{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder;
	padding: 0px;
	font-size: 20px;
	margin-top: -6px;
	margin-left: 50px;
	color: grey;
}
.containers .container{
	height: 100vh;
}